# Copier ce fichier en .env.development ou .env.production et remplir les valeurs.
NODE_ENV=development
NUXT_PUBLIC_API_BASE=http://localhost:5000/api
NUXT_PUBLIC_WS_BASE=http://localhost:5000
NUXT_PUBLIC_BACKEND_URL=http://backend:5000
